@model WFH.Models.DayAtHome

<div class="add_me span6 offset3" style="text-align:center">
@using (Html.BeginForm("AtHomeToday", "DaysAtHome", FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        
        <div class="editor-field">
            Note: @Html.TextBoxFor(model => model.Note, new { @class = "input-large", placeholder = "Notes (optional)" })
            @Html.ValidationMessageFor(model => model.Note)
        </div>

        <p>
            <input type="submit" value="I am working from home" class="btn btn-primary btn-large" />
        </p>
    </fieldset>
}
</div>