<div class="container">
    <div class="hero-unit">
        <h1>Are you working from home?</h1>
        <p>If you are, then you are at the right place.  Tell everyone else in your organization that you are working from home.
           The easiest way to keep tabs on your "working from home" status!</p>
    </div>

    <div class="row">
        <div class="span4">
          <h2>Register</h2>
           <p>Create an account and tell us the company you work for</p>
          <p><a class="btn" href="/Account/Register">Register »</a></p>
        </div>
        <div class="span4">
          <h2>Tell Us</h2>
           <p>Let us know that you are working from home today</p>
           <p><a class="btn" href="/Account/Login">Log In »</a></p>
       </div>
        <div class="span4">
          <h2>Watch</h2>
          <p>If you want to know if your colleagues are working from home, find out now!</p>
          <p><a class="btn" href="/Account/Login">Log In »</a></p>
        </div>
      </div>
</div>
