@model IEnumerable<WFH.Models.DayAtHome>

@{
    ViewBag.Title = "Index";
}

<div class="list_of_records span6 offset3">
    <ul class="recordList unstyled">

    @foreach (var item in Model) {
        <li style="display: list-item; ">
            <div class="well">
                <h3>@Html.DisplayFor(modelItem => item.Account.Name)
                <small>@Html.DisplayFor(modelItem => item.Note)</small>
                @Html.Partial("_DeletePartial", item)</h3>
            </div>
        </li>
    }

    </ul>
</div>

@Html.Partial("_CreatePartial", new WFH.Models.DayAtHome())